* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: lightgray;
}

h1 {
  font-family: Audiowide, sans-serif;
  text-align: center;
  margin-bottom: 5px;
}

h4 {
  text-align: center;
}

#legend {
  text-align: center;
  text-decoration: underline;
}

.board {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.board > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line {
  border-style: solid;
  border-color: lightgray;
  border-width: 0 0 0 1px;
  height: 180px;
  width: 0px;
  gap: 10px;
}

button {
  background-color: dimgray;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#guess {
  margin-top: 20px;
  background-color: lightgray;
  width: 80px;
  border-radius: 8px;
  color: black;
}

#div-guess {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 320px;
  border: 1px solid dimgray;
  background-color: black;
  padding: 10px;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.popup > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.popup p {
  padding-left: 15px;
}

.in-code, .out-code, .guessed {
  outline-style: solid;
  outline-width: 3px;
  outline-offset: 2px;
}

.in-code {
  outline-color: yellow;
}

.out-code {
  outline-color: lightgray;
}

.guessed {
  outline-color: lawngreen;
}

.close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
}

@media (max-width: 700px) {
  .board {
    flex-direction: column;
    align-items: center;
  }
  .board > div {
    flex-direction: row;
  }
  .line {
    border-width: 1px 0 0 0;
    width: 180px;
    height: 0px;
  }
}
